USE БД_Лаб2

--1)	Створити наступні запити:
--a.	запит з використанням функції COUNT;

SELECT COUNT(ID) FROM КЕКВ

--b.	запит з використанням функції SUM;

SELECT SUM(Зарплата) FROM Працівник_казначейства WHERE Казначейство = 'РГККВ01'

--c.	запит з використанням функцій UPPER, LOWER;

SELECT UPPER(Прізвище), LOWER(Імя) FROM Працівник_казначейства
 
--d.	запит з використанням функцій для роботи з датами;

SELECT * FROM Платіжне_доручення
WHERE DATEDIFF(month, Дата, GETDATE()) > 6

--e.	запит з використанням групування по декільком стовпцям;

SELECT Казначейство, Прізвище, SUM(Зарплата)*12 AS Річний_бюджет FROM Працівник_казначейства
GROUP BY Казначейство, Прізвище

--f.	запит з використанням умови відбору груп HAVING;

SELECT Казначейство, SUM(Зарплата)*12 AS Річний_бюджет FROM Працівник_казначейства
GROUP BY Казначейство
HAVING SUM(Зарплата)*12 > 50000

--g.	запит з використанням HAVING без GROUP BY;

SELECT Sum(Cума) from Платіжне_доручення WHERE Бюджетна_установа = '26409637'
HAVING Sum(Cума) > 1000000

--h.	запит з використанням функцій row_number() over ….;

SELECT ROW_NUMBER() OVER (ORDER BY Прізвище ASC) AS Номер, * FROM
Працівник_казначейства

--i.	запит з використанням сортування по декільком стовпцям.

SELECT * FROM Платіжне_доручення ORDER BY Дата, Cума

--2)	Робота з представленнями (view):
--a.	створити представлення, котре містить дані з декількох таблиць;

CREATE VIEW [Витрати_установ] AS
SELECT
ID,
(SELECT SUM(Cума) FROM Платіжне_доручення
WHERE Бюджетна_установа = Бюджетна_установа.ID) AS Витрати
FROM
Бюджетна_установа

--b.	створити представлення, котре містить дані з декількох таблиць та використовує представлення, котре створене в п.a;

CREATE VIEW [Залишок бюджету установ] AS
SELECT
ID,
(SELECT ID FROM Комерційний_банк
WHERE ID = Бюджетна_установа.Комерційний_банк) AS Банк, Бюджет,
(SELECT Бюджетна_установа.Бюджет-Витрати FROM Витрати_установ
WHERE ID = Бюджетна_установа.ID AND Витрати IS NOT NULL) AS Залишок
FROM
Бюджетна_установа

--c.	модифікувати представлення з використанням команди ALTER VIEW;
 
ALTER VIEW [Залишок бюджету установ] AS
SELECT
ID,
Бюджет,
(SELECT Бюджетна_установа.Бюджет-Витрати FROM Витрати_установ
WHERE ID = Бюджетна_установа.ID AND Витрати IS NOT NULL) AS Залишок
FROM
Бюджетна_установа


--d.	отримати довідникову інформацію про ці представлення з
--використанням вбудованих процедур (наприклад в MsSQL sp_help, sp_helptext та sp_depends).

EXEC sp_help 'Залишок бюджету установ';
EXEC sp_helptext 'Залишок бюджету установ';