USE БД_Лаб2

--1) Збережені процедури: 
--a. запит для створення тимчасової таблиці через змінну типу TABLE; 

DECLARE @table TABLE (ID int, table_name VARCHAR(20))

INSERT INTO @table (ID, table_name)
VALUES (1, 'my_table')
SELECT * FROM @table

--b. запит з використанням умовної конструкції IF;

DECLARE @number INT
SET @number = 100
IF SQRT(@number) >= 10
	print('number big👍')
GO

--c. запит з використанням циклу WHILE; 

DECLARE @index INT 
SET @index = 0
WHILE @index < 10
	BEGIN
		print(@index)
		SET @index = @index + 1
	END
GO

--d. створення процедури без параметрів; 

CREATE PROCEDURE get_budget_institutions
AS 
BEGIN
	select * from Бюджетна_установа
END
GO

--e. створення процедури з вхідним параметром; 

CREATE PROCEDURE insert_kekv @id VARCHAR(10), @purpose VARCHAR(60)
AS 
BEGIN
INSERT INTO КЕКВ(ID, Призначення)
VALUES(@id, @purpose)
END
GO
--f. створення процедури з вхідним параметром та RETURN; 

CREATE PROCEDURE get_squareroot @number INT
AS 
BEGIN
	return SQRT(@number)
END
GO

--g. створення процедури оновлення даних в деякій таблиці БД; 

CREATE PROCEDURE update_bank_name @id VARCHAR(10), @name VARCHAR(50)
AS
BEGIN
	UPDATE Комерційний_банк
	SET Назва = @name
	WHERE ID = @id
END
GO

--h. створення процедури, в котрій робиться вибірка даних. 

CREATE PROCEDURE get_institutions_budget_or_less @budget INT
AS 
BEGIN 
	SELECT * FROM Бюджетна_установа 
	WHERE Бюджет <= @budget
END
GO

--2) Функції: 
--a. створити функцію, котра повертає деяке скалярне значення; 

CREATE FUNCTION get_full_name (@id VARCHAR(10))
RETURNS VARCHAR(31)
AS
BEGIN
	RETURN (SELECT Імя + ' ' + Прізвище FROM Працівник_казначейства WHERE Номер_паспорту = @id);
END
GO

--b. створити функцію, котра повертає таблицю з динамічним набором стовпців; 

CREATE FUNCTION get_highest_budgets(@amount INT)
RETURNS TABLE
AS
RETURN (SELECT TOP(@amount) * FROM Бюджетна_установа ORDER BY Бюджет DESC)
GO

SELECT * FROM get_highest_budgets(3)

--c. створити функцію, котра повертає таблицю заданої структури.
CREATE FUNCTION budget_institution_region ()
RETURNS @table TABLE
(
  ID INT IDENTITY (1,1) PRIMARY KEY,
  Institution_name NVARCHAR(100),
  Region NVARCHAR(100)
)
AS
BEGIN
  INSERT INTO @table (Institution_name, Region) (SELECT Бюджетна_установа.Назва, Регіональне_казначейство.Регіон FROM Бюджетна_установа, Регіональне_казначейство WHERE Бюджетна_установа.ID = Регіональне_казначейство.ID)
  RETURN
END
GO

--3) Робота з курсорами: 
--a. створити курсор; 

DECLARE my_cursor CURSOR FOR
SELECT Назва, Бюджет FROM Бюджетна_установа
GO

--b. відкрити курсор; 

OPEN my_cursor

--c. вибірка даних, робота з курсорами. 
DECLARE @name VARCHAR(60)
DECLARE @budget INT
FETCH FROM my_cursor INTO @name, @budget

WHILE @@FETCH_STATUS = 0
BEGIN
	print @name
	print @budget
	FETCH NEXT FROM my_cursor INTO @name, @budget
END
GO

--4) Робота з тригерами: 
--a. створити тригер, котрий буде спрацьовувати при видаленні даних; 

CREATE TRIGGER payment_delete
ON Платіжне_Доручення
AFTER DELETE
AS
BEGIN
	print('ПЛАТІЖНЕ ДОРУЧЕННЯ: ЗАПИС ВИДАЛЕНО')
	SELECT * FROM deleted
END
GO

--b. створити тригер, котрий буде спрацьовувати при модифікації даних; 

CREATE TRIGGER payment_update
ON Платіжне_Доручення
AFTER UPDATE
AS
BEGIN
	PRINT 'Платіжне доручення було оновлено!'
	PRINT 'Оновлені дані:'
	SELECT * FROM inserted
END
GO

--c. створити тригер, котрий буде спрацьовувати при додаванні даних. 

CREATE TRIGGER new_employee
ON Працівник_казначейства
AFTER INSERT
AS
BEGIN
	PRINT('Новий працівник казначейства')
	SELECT * FROM inserted
END
GO
